{% extends 'main/layoute.html' %}

{% block title %}
<title>Первая страница на django</title>
{% endblock %}

{% block content%}
<!--    {% include 'main/nav.html'%}-->
<h1>Добро пожаловать на сайт {{caption}}!</h1>
<br>
<h3>Урок DJ02 по изучению фреймворка Django. Как создать первый сайт.</h3>
<br>
<h5>Создание первого сайта {{caption}} на Django — это увлекательное путешествие в мир веб-разработки. Django — мощный фреймворк,
    который позволяет быстро и эффективно создавать веб-приложения.
</h5>

<p>Начните с установки Django через pip и создайте
    новый проект с помощью `django-admin startproject`. Это создаст базовую структуру вашего приложения.</p>
<p> создайте приложение внутри проекта с командой `python manage.py startapp`. Настройте базу данных в settings.py,
    выбрав SQLite для простоты, и выполните миграции для создания таблиц.
</p>
<p>Создайте модели для ваших данных и определите представления (views) для обработки запросов. Свяжите URL-адреса с
    представлениями в urls.py и создайте шаблоны для отображения данных.
</p>
<p>Добавьте стили и интерактивность с помощью CSS и JavaScript, чтобы ваш сайт выглядел привлекательно. Наконец,
    протестируйте приложение на встроенном сервере разработки Django. Это отличная возможность применить навыки
    программирования и изучить новые технологии. Удачи!
</p>
{% endblock %}
