{% extends 'main/layoute.html' %}

{% block title %}
    <title>Вторая страничка </title>
{% endblock %}

{% block content%}
<!--    {% include 'main/nav.html'%}-->
<h3>Это вторая страница сайта по уроку DJ02 по изучению фреймворка Django</h3>
<h3>История создания фреймворка Django</h3>

<p>История его создания началась в начале 2000-х годов.
</p>
<br>
<p>Django был создан в 2003 году в новостной редакции The Lawrence Journal-World, небольшой газеты в Лоуренсе, штат
    Канзас, США. Разработка фреймворка началась с попыток автоматизировать и упростить создание веб-приложений для
    различных внутренних проектов газеты.
</p>
<br>
<p>Основными разработчиками Django стали Эдриан Холовац и Саймон Уиллсон. Они работали над созданием системы управления
    контентом, которая позволила бы журналистам и редакторам эффективно управлять новостными сайтами.
</p>
<br>
<p>В июле 2005 года Django был выпущен как проект с открытым исходным кодом под лицензией BSD. Это позволило широкой
    общественности не только использовать его в своих проектах, но и вносить изменения и улучшения.

</p>
{% endblock %}